<%- include('../partials/header') %>


<h1>Blood Sugar Readings</h1>

<table class = 'index-table'>
        
        <thead>
            <tr>
                <th class = 'date-heading'>Date</th>
                <th>Blood sugar before meals (in mmol/L)</th>
                <th>Blood sugar after meals (in mmol/L)<th>
                <th>Details</th>
                
            </tr>
            
       </thead>
       <tbody>


 <!-- sorted blood sugar array by date -->
<%const sortedBloodSugar = bloodsugar.sort (function(a,b){%>
    <%return new Date (a.day) - new Date (b.day)%>
<%})%>


<!-- displaying data on table -->
        <%sortedBloodSugar.forEach(function (s){ %>
    
            <%const simpleDate = [(s.day.getMonth() +1), (s.day.getDate())]%>

            <tr> 
                <td class = 'date-heading'> <%= simpleDate.join('/')%></td>

                <td>
                <%let prePranReading = s.reading.map(function(p){%>
                    <%if (p.mealTiming === 'Preprandial'){%>
                    <%return (' ') + p.sugarReading %>;
                    <%}%>

                <%})%>
                <%=prePranReading.filter(Number)%>
                %>&nbsp
                 </td>
                
                <td>
                    <%let postPrandReading = s.reading.map(function(p){%>
                        <%if (p.mealTiming === 'Postprandial'){%>
                        <%return (' ') +p.sugarReading%>&nbsp;
                        <%}%>

                    <%})%>&nbsp;  
                    <%=postPrandReading.filter(Number)%>
                </td>
                
                <td><a href = '/bloodsugar/<%=s._id%>' class = "btn btn-outline-secondary btn-sm">More</a></td>
                <td>
                    <form action = '/bloodsugar/<%=s.id%>?_method=DELETE' method = 'POST'>
                        <button class="btn btn-outline-danger btn-sm " data-toggle="tooltip" title="Delete"type="submit"><i class="fa fa-trash"style = "font-size:18px"></i></button>
                    </form>
                </td>

            </tr>

    </tbody>
    <%});%>

 
    <td class = 'date-heading' >   &nbsp </td>
    <td id = "add-new">  <a href = '/bloodsugar/new' class = "btn btn-secondary">Add New Reading</a> </td>

</table>

<!-- finding dates for graph -->
<%const chartDate = bloodsugar.map(function (d){%>
    <%return d.day.toLocaleDateString()%>
<%})%>

<!-- finding all sugar readings -->
<%const sugar = bloodsugar.map(function (b){%>
    <% return b.reading.map(function (r){%>        
        <% return r.sugarReading %>
    <%})%>
<%})%>

<!-- finding average sugar readings for graph-->
<%var sugarAverage = sugar.map(function(a){%>
    <%  var total = 0;%>
    <%for(var i = 0; i < a.length; i++) {%>
        <%  total += a[i];%>
        <%}%>
        <% var avg = total / a.length;%>
        <% return avg%>
        
<%})%>

<!-- finding  preprandial sugar readings -->

<%var fastedChartValues = bloodsugar.map(function (fasted){%>
    <%  return fasted.reading.map(function (pre){%>
        <%newArray = []%>

        <%if (pre.mealTiming === 'Preprandial'){%>
            <%return (pre.sugarReading)%>
      <%}%>
   <%})%>
<%})%>

<!-- removing undefined/null -->
<%let filteredFasted = fastedChartValues.map(function(f){%>
    <%return f.filter(Number)%>
<%})%>

<!-- average preprandial -->
<%var preAverage = filteredFasted.map(function(pre){%>
    <%  var total = 0;%>
    <%for(var i = 0; i < pre.length; i++) {%>
        <%  total += pre[i];%>
        <%}%>
        <% var avg = total / pre.length;%>
        <% return avg%>
        
<%})%>

<!-- finding post sugar readings -->
<%var fedChartValues = bloodsugar.map(function (fed){%>
    <%  return fed.reading.map(function (post){%>
        <%newArray = []%>

        <%if (post.mealTiming === 'Postprandial'){%>
            <%return (post.sugarReading)%>
      <%}%>
   <%})%>
<%})%>

<!-- removing undefined/null -->
<%let filteredFed = fedChartValues.map(function(f){%>
    <%return f.filter(Number)%>
<%})%>

<!-- average postprandial -->
<%var fedAverage = filteredFed.map(function(post){%>
    <%  var total = 0;%>
    <%for(var i = 0; i < post.length; i++) {%>
        <%  total += post[i];%>
        <%}%>
        <% var avg = total / post.length;%>
        <% return avg%>  
<%})%>
    </br>


<h3>Average blood sugar vs day</h3>
<div class="chart-container" style="position: relative; height:30vh; width:50vw;">
    <canvas id="myChart1"></canvas>
</br>    </br>

<h3>Average blood sugar (before meals) vs day</h3>

    <canvas id="myChart2"></canvas>
</br>    </br>

<h3>Average blood sugar (after meals) vs day</h3>


    <canvas id="myChart3"></canvas>

</div>

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>


<script>


const chart = document.getElementById('myChart1')

const labels = <%- JSON.stringify(chartDate)%>;

  var data = {
    labels: labels,
    datasets: [{
      label: 'My First dataset',
      borderColor: 'black',
      color: 'black',
      pointRadius: 5,

      

      showLine: false, 
      data: [<%= [sugarAverage] %>],
    }]
  };



let lineChart = new Chart(chart, {
    type:'line', 
    data, 
    options:{
        scales: {
            xAxes: [{
                // type: 'time',
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Date'
                }

            }],


            yAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Average Blood Sugar Reading'
                }

            }],
        }
     

        
    }
})


// chart2
const chart2 = document.getElementById('myChart2')

const labels2 = <%- JSON.stringify(chartDate)%>;

var data = {
    labels: labels,
    datasets: [{
      label: 'My First ',
    //   fill:'black',
      borderColor: 'black',
      pointRadius: 5,

      showLine: false, 
      data: [<%=preAverage%>],
    }]
  };

let lineChart2 = new Chart(chart2, {
    type:'line', 
    data, 
    options:{
        scales: {
            xAxes: [{
                // type: 'time',
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Date'
                }
            }],
            yAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Average Blood Sugar Reading (before food)'
                }

            }],
        }
        
    }
})



// chart3
const chart3 = document.getElementById('myChart3')

const labels3 = <%- JSON.stringify(chartDate)%>;

var data = {
    labels: labels3,
    datasets: [{
      label: 'My First dataset',
    //   fill:'black',
      borderColor: 'black',
      pointRadius: 5,

      showLine: false, 
    data: [<%=fedAverage%>],
    }]
  };


let lineChart3 = new Chart(chart3, {
    type:'line', 
    data, 
    options:{
        scales: {
            xAxes: [{
                // type: 'time',
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Date'
                }

            }],


            yAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Average Blood Sugar Reading(after meals)'
                }

            }],
        }
        
    }
})
  </script>


<%- include('../partials/footer') %>
